{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CHANGE PASSWORD</title>
  <link rel="stylesheet" href="{% static 'login/style.css' %}" />
</head>
<body>
  <div class="container">
    {% if messages %}
      {% for message in messages%}
        <h3 style="color: whitesmoke;">{{message}}</h3>
      {% endfor %}
    {% endif %}
    <h1 class="form-title">CHANGE PASSWORD</h1>
    <form method="post">
      {% csrf_token %}
      <div class="main-user-info">
        <div class="user-input-box">
          <label for="oldpassword">Oldpassword:</label>
          <input type="password" id="oldpassword" name="oldpassword" placeholder="Enter Oldpassword"/>
        </div>
        <div class="user-input-box">
          <label for="newpassword">Newpassword:</label>
          <input type="password" id="newpassword" name="newpassword" placeholder="Enter Newpassword"/>
        </div>
        <div class="user-input-box">
          <label for="newcpnfpassword">Confirm New Password:</label>
          <input type="password" id="newcpnfpassword" name="newcpnfpassword" placeholder="Confirm New Password"/>
        </div>
      </div>
      <div class="form-submit-btn">
        <input type="submit" value="Change">
      </div>
      <p><a href="{% url 'base:send_email' userid %}">Forgotpassword</a></p>
    </form>
  </div>

</body>
</html>






