{% load static %}
{% load custom_filters %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<link rel="stylesheet" href="{% static 'users/css/exercise.css'  %}">
<body>

<h2>{{topic.name}}</h2>
{% for exercise in exercises %}
  <div>
    <h3>{{exercise.Question}}</h3>
    <p>A: {{ exercise.choice.A }}</p>
    <p>B: {{ exercise.choice.B }}</p>
    <p>C: {{ exercise.choice.C }}</p>
    <p>D: {{ exercise.choice.D }}</p>
    {% if student %}
      {% with key=exercise.id %}
        {% if key in submittedexercises %}
          {% if submittedexercises|keyvalue:key == 'null' %}
            <form action="{% url 'base:exercise' user.student_id topic.id %}" method="post">
              {% csrf_token %}
              <label for="Answer">Answer:</label>
              <input type="text" id="Answer" name="Answer"><br>
              <input type="hidden" id="exerciseid" name="exerciseid" value="{{exercise.id}}"><br>
              <input type="submit" value="Answer">
            </form>
          {% else %}
            <p>Your answer was {{submittedexercises|keyvalue:key}}</p>
            <p>Correct Answer: {{ exercise.Answer }}</p>
          {% endif %}
        {% else %}
          <form action="{% url 'base:exercise' user.student_id topic.id %}" method="post">
            {% csrf_token %}
            <label for="Answer">Answer:</label>
            <input type="text" id="Answer" name="Answer"><br>
            <input type="hidden" id="exerciseid" name="exerciseid" value="{{exercise.id}}"><br>
            <input type="submit" value="Answer">
          </form>
        {% endif %}
      {% endwith %}
    {% else %}
      <p>Answer: {{ exercise.Answer }}</p>
      {% if user.admin == "True" %}
        <a href="{% url 'base:deleteexercise' user.instructor_id topic.id exercise.id %}">Delete</a>
      {% endif %}
    {% endif %}
    {% if message %}
      <p>{{ message }}</p>
    {% endif %}
  </div>
{% endfor %}
</body>
</html>