{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FORGOT PASSWORD</title>
  <link rel="stylesheet" href="{% static 'login/style.css' %}" />
</head>
<body>
    <div class="container">
        {% if messages %}
          {% for message in messages%}
            <h3 style="color: whitesmoke;">{{message}}</h3>
          {% endfor %}
        {% endif %}
        <h1 class="form-title" style="font-size: small;">send password reset pin to {{user.email}}</h1>
        
        <form action="">
            <div class="form-submit-btn">
                <a href="{% url 'base:send_reset_email_to_user' userid %}">send code</a>
            </div>
        </form>

    </div>
</body>
</html>
