{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'login/assets/css/styles.css' %}">
  <title>DIY-LOGIN</title>
</head>
<body>
  <div class="login">
    <img src="{% static 'login/assets/img/login-bg.png' %}" alt="login image" class="login__img">
      {% if messages %}
        {% for message in messages%}
          <div>{{message}}</div>
        {% endfor %}
      {% endif %}
      <form method="post"  class="login__form">
        <h1 class="login__title">Login</h1>
        <div class="login__content">
          {% csrf_token %}
          {{ form.as_p }}
        </div>
        <button type="submit" class="login__button">Login</button>
      </form>
  </div>
<script src="{% static 'login/assets/js/main.js' %}"></script>
</body>
</html>
